@page "/"
@using PageProducts.Components

<PageTitle>Bienvenidos</PageTitle>

<p align="center">
<h1>
<WelcomeComponent NombrePagina=RapiFood /></h1>
<br><br><h3>Te ofrecemos los mejores productos al día<br>
<b>Delivery Gratis</b></h3></p>


